<!-- About Section -->
<section id="cancellation" class="about" style="padding-bottom:0px;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.cancellationTitle }}</h3>
            <div class="row about-details">
                <p class="cancellationText">{{ site.cancellationText1 }}</p>
                <p class="cancellationText">{{ site.cancellationText2 }}</p>
                <p class="cancellationText">{{ site.cancellationText3 }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
