<!-- Registration Instruction Section -->
<section id='registration-instruction'>
<div class='content-wrapper'>
    <h3>Registration Instructions</h3>
    <div class='col-md-8 col-md-offset-2'>
        <a href='https://www.amstat.org/EventDetail?Eventkey=SLDS2020'>Link for Online Registration</a>
        <a href='{{ site.baseurl }}/assets/SLDS_2020_Reg_Form.pdf'>Link for Mail-In registration</a>

        <p><b>Cancellation Policy:</b> Cancellations received through April 15, 2020, incur no cancellation fee. Cancellations received after April 15, 2020 but before May 15, 2020 incur a $100 cancellation fee. No refunds will be processed after May 15, 2020. All cancellations must be made in writing to ASAInfo@amstat.org, via fax to (703) 684-2037, or mailed to SLDS Registration, 732 N. Washington Street, Alexandria, VA 22314.</p>
    </div>
</div>
</section>
<!-- End Registration Instruction Section-->