<!-- Registration Instruction Section -->
<section id='registration-instruction'>
<div class='content-wrapper'>
    <h3 style='margin-bottom:20px;'>Registration Forms</h3>
    <div class='col-md-6 col-md-offset-3'>
        <a class="btn btn-primary waves-effect waves-button waves-light waves-float" href='https://www.amstat.org/EventDetail?Eventkey=SLDS2020'>Online Registration Form</a>
        <a class="btn btn-primary waves-effect waves-button waves-light waves-float" href='{{ site.baseurl }}/assets/SLDS_2020_Reg_Form.pdf'>Link for Mail-In Registration Form</a>
        <p style='margin-top:10px;text-align:left;'><b>Cancellation Policy:</b> Cancellations received through April 15, 2020, incur no cancellation fee. Cancellations received after April 15, 2020 but before May 15, 2020 incur a $100 cancellation fee. No refunds will be processed after May 15, 2020. All cancellations must be made in writing to ASAInfo@amstat.org, via fax to (703) 684-2037, or mailed to SLDS Registration, 732 N. Washington Street, Alexandria, VA 22314.</p>
    </div>
</div>
</section>
<!-- End Registration Instruction Section-->